body {
  font-family: 'Roboto', sans-serif;
  margin: 2rem;
}

.container {
  max-width: 300px;
  margin: 0 auto;
  padding: 80px 40px 150px 40px;
  background-color: #f7bc63;
  border: 2px solid;
  border-radius: 30px;
}

.anime {
  opacity: 0;
  transform: translateX(-10px);
  animation: anime 0.3s forwards;
}

@keyframes anime {
  to {
    transform: initial;
    opacity: 1;
  }
}
